@import 'tailwindcss';

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {

  }

  html, body {
    @apply size-full font-sans antialiased;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --color-surface-primary: #141514;
  --color-surface-secondary: #191A19;

  --color-text-primary: #F9F9F9;
  --color-text-muted: #7E7E7E;
  --color-text-accent: #5d904f;
}

.dark {
  --color-surface-primary: #e4efe1;
  --color-surface-secondary: #c5ccc3;

  --color-text-primary: #2a2a2a;
  --color-text-muted: #7E7E7E;
  --color-text-accent: #8DE276;
} 